<div class="containter" style="margin-top: 50px;">

    <div class="row">
        <div class="col">
            <p class="text-end">
                <span>Hola {{usuario}}<span>
                <a href="/admin/login/logout" class="btn btn-danger">cerrar sesion <i class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
</div>