h1 {
    text-transform: uppercase; /*mayuscula*/
    text-align: center; /*alineacion - right - left*/
    color: green;
    margin: auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-style: italic;
    background-color: black;
}
h2{
    text-transform: uppercase;
    color: green;
    background-color: black;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
 
p{
    color: green;
    background-color: black;
}

h3{
    text-transform: uppercase;
    color: green;
    background-color: black;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
h4{
    text-transform: uppercase;
    color: green;
    background-color: black;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
body { background-color:  red;}